<nav class="navbar navbar-expand-lg navbar-light bg-light py-2 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand me-4">
      <img src="assets/w3schools.png" alt="W3Schools Logo" style="height: 80px;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <form class="d-flex search-form" role="search">
          <div class="position-relative w-100">
            <input class="form-control search-input" type="search" placeholder="Search tutorials..." aria-label="Search">
            <button class="btn btn-success search-btn" type="submit">
              <i class="bi bi-search text-white"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="d-flex">
        <button class="btn btn-success pill d-flex align-items-center ps-3 pe-4 py-2">
          Sign In
          <i class="bi bi-person-circle ms-2 fs-5"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
