<div class="container">
  <div class="scroll-area">
    <h1 class="headline">JavaScript Statements</h1>

    <p>JavaScript statements are instructions the browser can execute. A program is a list of statements.</p>

    <h3>Examples:</h3>
    <code>
      let x = 5;<br>
      let y = 10;<br>
      let sum = x + y;<br>
      console.log(sum);<br><br>
      document.getElementById("output").innerHTML = "Sum: " + sum;
    </code>

    <h3>Try It:</h3>
    <button onclick="runStatements()">Run Code</button>
    <p id="output">Click the button to show the result</p>

    <h3>Tip:</h3>
    <ul>
      <li>Statements usually end with <code>;</code></li>
      <li>Blocks of statements are enclosed in <code>{{ '{' }}...{{ '}' }}</code></li>
    </ul>
  </div>
</div>
