<div class="container">
  <div class="scroll-area">
    <h1 class="headline">HTML Tutorial</h1>
    <p>HTML is the standard markup language for creating web pages. It describes the structure of web content using a variety of elements.</p>

    <h3>Why Learn HTML?</h3>
    <ul>
      <li>It is the foundation of all websites</li>
      <li>It is easy to learn and widely used</li>
      <li>It allows you to structure content on the web</li>
    </ul>

    <h3>What You Will Learn:</h3>
    <ul>
      <li>HTML Basics</li>
      <li>HTML Elements & Attributes</li>
      <li>HTML Headings, Paragraphs, Links, and more</li>
      <li>Semantic HTML and Best Practices</li>
    </ul>
    
    <p>Start with the basics and build your way up to more advanced topics!</p>
  </div>
</div>
