<div class="container">
  <div class="scroll-area">
    <h1 class="headline">JavaScript Comments</h1>

    <p>Comments are used to explain JavaScript code and make it more readable. They are ignored by the browser and do not affect code execution.</p>

    <h3>Single-line Comments:</h3>
    <code>
      // This is a single-line comment<br>
      let x = 5; // Declare a variable
    </code>

    <h3>Multi-line Comments:</h3>
    <code>
      /*<br>
      &nbsp;&nbsp;This is a multi-line comment<br>
      &nbsp;&nbsp;It can span multiple lines<br>
      */
    </code>

    <h3>Use Cases:</h3>
    <ul>
      <li>Explain code logic</li>
      <li>Temporarily disable parts of code</li>
      <li>Improve collaboration and maintenance</li>
    </ul>

    <h3>Try It:</h3>
    <button onclick="runCommentDemo()">Run Demo</button>
    <p id="commentOutput">Click to see the effect of commented code.</p>
  </div>
</div>
